<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;
    max-width: 600px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Foi solicitada a troca de senha para sua conta.</p>
  <p>Acesse o link abaixo para definir uma nova senha:</p>
  <p>
    <a href="{{link}}" target="_blank" rel="noopener noreferrer">Alterar minha senha</a>
  </p>
  <p>Se não você que solicitou, favor desconsiderar este e-mail.</p>
  <p>
    Obrigado!<br/>
    <strong>Equipe GoBarber</strong>
  </p>
</div>
